.images-enter-active,
.images-leave-active {
  transition: all 0.5s ease;
}

.images-enter-from,
.images-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}